.header {
    width: 100%;
    height: 60px;
    background: #EBE0E9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.container {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    a{
        color: #fff;
    }
}
.main {
    width: 100%;
    min-height: calc(100vh - 60px);
    height: calc(100% - 60px);
    position: relative;
    top: 60px;
    left: 0;
    background: #F8F7FD;
    .mainContainer{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-top: 2rem;
    }
}
.link{
    &_active {
        color: #8a8ad7;
    }
}