.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    min-width: 100%;
    padding-bottom: 10px;
}
.select {
    width: 50px;
}

.space {
    margin-left: 20px;
}


.page {
    padding: 10px;
    border-radius: 2px;
    margin-right: 10px;
    background: #fff;
}



.currentPage {
    font-weight: bold;
    background-color: #eee7f4;
}

.button {
    margin-right: 10px;
    margin-left: 10px;
}

.pageContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}