.tableHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBE0E9;
    padding: 12px;
}
.tableHead span {
    word-break: break-all;
    width: 25%;
    padding: 2px;
    align-items: center;
    font-weight: bold;
}
.tableHeadFor3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBE0E9;
    padding: 12px;
}
.tableHeadFor3 span {
    word-break: break-all;
    width: 34%;

    padding: 2px;
    font-weight: bold;
}



.tableRow {
    display: flex;
    justify-content: space-between ;
    padding: 8px;

}

.tableRow div {
    word-break: break-all;
    width: 25%;

    padding: 5px;

}

.tableRowFor3 {
    display: flex;
    justify-content: space-between ;
    padding: 8px;
}

.tableRowFor3 div {
    word-break: break-all;
    width: 34%;

    padding: 5px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.test {
    margin-left: auto;
}
