.container {
    min-height: 300px;
    min-width: 300px;
    background-color: white;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding: 20px;
}


.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cancelButton {
    border: none;
    color: #21268F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 25px;
    align-items: center;
    background: #D7D8EF;
    border-radius: 30px;
}

.nextButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 25px;
    align-items: center;
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.text {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2D2E46;
    margin: 5px;
    padding: 5px;
}

.optionText {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #2D2E46;
}

.options {
    display: flex;
    flex-direction: column;
    justifyContent: space-between;
    margin-bottom: 20px;

}

.option {
    margin:5px;
    padding: 5px;

    text-align: left;
}
